In [1]:
import os
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
os.listdir('./input/')

['.DS_Store', 'keyword.csv']

In [2]:
select = pd.read_csv('./input/keyword.csv', encoding='SHIFT-JIS', header=None)
select = select[0].values.tolist()

In [3]:
av_score = []
n_tweets = []

for j in range(len(select)):
    # 入力
    df = pd.read_csv('./sentiment_score/'+select[j]+'.csv')
    # ツイートあたりのスコア（合計スコア/ツイート数）
    if len(df) == 0:
        av_score.append(0)
    else:
        av_score.append(df['score'].sum()/len(df))
    # ツイート数
    n_tweets.append(len(df))
    
#　出力
rank = pd.DataFrame()
rank['stock'] = select
rank['score'] = av_score
rank['n_tweets'] = n_tweets
rank = rank.sort_values('score', ascending=False)
rank.to_csv('./sentiment_rank/rank.csv', encoding='SHIFT_JIS', index=False)

# ツイート数が10以上のTOP10
rank.loc[rank['n_tweets']>=10].head(10)

            stock     score  n_tweets
27           一正蒲鉾  3.000000       100
11     フォーカスシステムズ  2.640000        25
29  リンクアンドモチベーション  1.213115        61
0     ドリームインキュベータ  1.111111        99
5         協和発酵キリン  1.070000       100
20      ソーシャルワイヤー  0.977778        45
18          コネクシオ  0.950000        40
16           ブルボン  0.920000       100
3             ムサシ  0.918605        86
1              田谷  0.790000       100